    
.intro {
    margin: 7.5rem 0rem 0rem 12.5rem;

    h1 {
        font-family: $font-type0;
        font-weight: 400;
        font-size: 4rem;
        line-height: 5.25rem;
        color: $color-font-one;
    }
    p {
        font-family: $font-type;
        color: $color-font-two;
        line-height: 1.5rem;
        font-size: 1rem;
        width: 39.25rem ;
    }
    div {
        margin: 3.5rem 0 0.3125rem;
        width: 14.125rem;
        background-color: $color-one-hover;
        border: 0px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
       
       
        a {
            
            margin: 0;
            width: 14.125rem;
            height: 3.5rem;
            background-color: $color-one-hover;
            border: 0px;
            font-family: $font-type;
            font-size: 1.125rem;
            color: $color-font-one;
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            line-height: 1.5rem;
            text-decoration: none;
            padding: 1rem 3.6875rem;
        }

        a:hover {
            color: $color-font-three;
            background-image: linear-gradient(225deg, $color-four 0%, $color-one-hover 100%);
        }
    }
    div:hover {
        background-image: linear-gradient(225deg, $color-four 0%, $color-one-hover 100%);
    }
}
.tachado {
    text-decoration: line-through;
    font-family: $font-type0;
}
.punto {
    color:$color-four;
    font-family: $font-type0;
}
@media screen and  ( max-width:768px) {
    .intro {
        margin: 1.8125rem 1rem 0 1rem;
    
        h1 {
            font-size: 2.25rem;
            line-height: 2.625rem;
            margin-right: 4rem;
        }
        p {
            line-height: 1.375rem;
            font-size: 0.875rem;
            width: 100%;
        }
        div {
            margin: 2.25rem 0rem 1.5rem 0rem;
            width: 100%;
            
            


        }
    }
}
