$color-font-one: #060A24;
$color-font-two: #000000;
$color-font-three: #ffffff;
$color-four: #0000EC;
$color-five: #0000A3;
$color-one-hover: #00F3BB ;
$color-active: grey;
$font-type: "IBM Plex Mono", monospace;
$font-type0:"IBM Plex Sans", sans-serif;